.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  height: 50px;
}

.logo-container {
  display: flex; 
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  margin-inline: 16px;
}

.logo-text {
  font-size: 24px;
  font-weight: 400;
}

.btn {
  margin-inline: 8px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  font-size: medium;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.login-btn {
  background-color: white;
  color: #022ECC;
  border-radius: 10px;
  border: none;
}

.login-btn:hover {
  background-color: #F0F0F0;
}

.signup-btn {
  background-color: #022ECC;
  color: white;
  border-radius: 10px;
  border: none;
}

.signup-btn:hover {
  background-color: #0A1DFF;
}

main {
  height: 80vh;
}

.main-text {
  text-align: center;
  margin-top: 40px;
}

.mid-line {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 100px;
}

.mid-line h3 {
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-top: 1px solid #000;
}

.upload-btn-container {
  display: flex;
  justify-content: center;
}

.upload-btn {
  background-color: #022ECC;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: large;
  margin-top: 50px;
  padding-inline: 20px;
}

.upload-btn:hover {
  background-color: #0A1DFF;
}

.copy-container {
  display: flex;
  justify-content: center;
}
  
.copy-div {
  background-color: gainsboro;
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

#text-to-copy {
  margin-inline: 10px;
}

.copy-btn {
  /* background-color: gray; */
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#copy-icon {
  background-color: red;
  padding: 5px;
  fill: white;
  /* position: relative; */
  width: 20px;
  height: 20px;
  margin-top: -50%;
  margin-left: -50%;

}